Monitor your Microsoft 365 licenses with Logic Apps/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "M365LicenseMonitoring",
            "type": "String"
        },
        "keyvault-name": {
            "type": "string",
            "metadata" : {
                "description" : "Name of the Key Vault that contains the App Registration Secret"
            }
        },
        "mail-from": {
            "type": "string",
            "metadata" : {
                "description" : "Mail address of the shared mailbox"
            }
        },
        "mail-to": {
            "type": "string",
            "metadata" : {
                "description" : "Mail address of the receiving mailbox"
            }
        }
    },
    "variables": {
        "KeyvaultConnectionName": "[concat('keyvault-', parameters('LogicAppName'))]",
        "Office365ConnectionName": "[concat('office365-', parameters('LogicAppName'))]"        
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
             "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Week",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each_Sku_enabled": {
                            "foreach": "@body('Parse_JSON_GET_all_subscribedSkus')?['value']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Send_an_email_from_a_shared_mailbox_(V2)": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>Hi,<br>\n<br>\nWe are running out of licenses for<strong> </strong><strong>@{body('Parse_JSON_GET_one_Sku_enabled')?['skuPartNumber']}</strong><strong></strong><br>\nHere is an overview of the consumpted and avialable licenses:<br>\nTotal number of licenses @{body('Parse_JSON_GET_one_Sku_enabled')?['prepaidUnits']?['enabled']}<br>\nTotal number of available licenses: @{sub(body('Parse_JSON_GET_one_Sku_enabled')?['prepaidUnits']?['enabled'],body('Parse_JSON_GET_one_Sku_enabled')?['consumedUnits'])}</p>",
                                                    "Importance": "High",
                                                    "MailboxAddress": "[parameters('mail-from')]",
                                                    "Subject": "We are running out of licenses for @{body('Parse_JSON_GET_one_Sku_enabled')?['skuPartNumber']}",
                                                    "To": "[parameters('mail-to')]"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/SharedMailbox/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_GET_one_Sku_enabled": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@body('Parse_JSON_GET_one_Sku_enabled')?['prepaidUnits']?['enabled']",
                                                    0
                                                ]
                                            },
                                            {
                                                "less": [
                                                    "@sub(body('Parse_JSON_GET_one_Sku_enabled')?['prepaidUnits']?['enabled'],body('Parse_JSON_GET_one_Sku_enabled')?['consumedUnits'])",
                                                    10
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_GET_one_Sku_enabled": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "clientId": "@body('client-id')?['value']",
                                            "secret": "@body('client-secret')?['value']",
                                            "tenant": "@body('tenant-id')?['value']",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/v1.0/subscribedSkus/@{items('For_each_Sku_enabled')?['id']}"
                                    }
                                },
                                "Parse_JSON_GET_one_Sku_enabled": {
                                    "runAfter": {
                                        "HTTP_GET_one_Sku_enabled": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP_GET_one_Sku_enabled')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "appliesTo": {
                                                    "type": "string"
                                                },
                                                "capabilityStatus": {
                                                    "type": "string"
                                                },
                                                "consumedUnits": {
                                                    "type": "integer"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "prepaidUnits": {
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "integer"
                                                        },
                                                        "suspended": {
                                                            "type": "integer"
                                                        },
                                                        "warning": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "servicePlans": {
                                                    "items": {
                                                        "properties": {
                                                            "appliesTo": {
                                                                "type": "string"
                                                            },
                                                            "provisioningStatus": {
                                                                "type": "string"
                                                            },
                                                            "servicePlanId": {
                                                                "type": "string"
                                                            },
                                                            "servicePlanName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "servicePlanId",
                                                            "servicePlanName",
                                                            "provisioningStatus",
                                                            "appliesTo"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "skuId": {
                                                    "type": "string"
                                                },
                                                "skuPartNumber": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_GET_all_subscribedSkus": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_Sku_warning": {
                            "foreach": "@body('Parse_JSON_GET_all_subscribedSkus')?['value']",
                            "actions": {
                                "Condition_warning_and_consumed": {
                                    "actions": {
                                        "Send_an_email_from_a_shared_mailbox_(V2)_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>Hi,<br>\n<br>\nThis license is expired<strong> </strong><strong>@{body('Parse_JSON_GET_one_Sku_warning')?['skuPartNumber']}</strong><strong>,</strong> but the license is still assigned to @{body('Parse_JSON_GET_one_Sku_warning')?['consumedUnits']}users.<br>\n<br>\nPlease extend this license.</p>",
                                                    "Importance": "High",
                                                    "MailboxAddress": "[parameters('mail-from')]",
                                                    "Subject": "Expired license @{body('Parse_JSON_GET_one_Sku_warning')?['skuPartNumber']} is still in use",
                                                    "To": "[parameters('mail-to')]"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/SharedMailbox/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_GET_one_Sku_warning": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@body('Parse_JSON_GET_one_Sku_warning')?['prepaidUnits']?['warning']",
                                                    0
                                                ]
                                            },
                                            {
                                                "greater": [
                                                    "@body('Parse_JSON_GET_one_Sku_warning')?['consumedUnits']",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_GET_one_Sku_warning": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "clientId": "@body('client-id')?['value']",
                                            "secret": "@body('client-secret')?['value']",
                                            "tenant": "@body('tenant-id')?['value']",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/v1.0/subscribedSkus/@{items('For_each_Sku_warning')?['id']}"
                                    }
                                },
                                "Parse_JSON_GET_one_Sku_warning": {
                                    "runAfter": {
                                        "HTTP_GET_one_Sku_warning": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP_GET_one_Sku_warning')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "appliesTo": {
                                                    "type": "string"
                                                },
                                                "capabilityStatus": {
                                                    "type": "string"
                                                },
                                                "consumedUnits": {
                                                    "type": "integer"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "prepaidUnits": {
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "integer"
                                                        },
                                                        "suspended": {
                                                            "type": "integer"
                                                        },
                                                        "warning": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "servicePlans": {
                                                    "items": {
                                                        "properties": {
                                                            "appliesTo": {
                                                                "type": "string"
                                                            },
                                                            "provisioningStatus": {
                                                                "type": "string"
                                                            },
                                                            "servicePlanId": {
                                                                "type": "string"
                                                            },
                                                            "servicePlanName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "servicePlanId",
                                                            "servicePlanName",
                                                            "provisioningStatus",
                                                            "appliesTo"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "skuId": {
                                                    "type": "string"
                                                },
                                                "skuPartNumber": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_GET_all_subscribedSkus": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_GET_all_subscribedSkus": {
                            "runAfter": {
                                "client-secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "@body('client-id')?['value']",
                                    "secret": "@body('client-secret')?['value']",
                                    "tenant": "@body('tenant-id')?['value']",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/subscribedSkus"
                            }
                        },
                        "Parse_JSON_GET_all_subscribedSkus": {
                            "runAfter": {
                                "HTTP_GET_all_subscribedSkus": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_GET_all_subscribedSkus')",
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "appliesTo": {
                                                        "type": "string"
                                                    },
                                                    "capabilityStatus": {
                                                        "type": "string"
                                                    },
                                                    "consumedUnits": {
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "prepaidUnits": {
                                                        "properties": {
                                                            "enabled": {
                                                                "type": "integer"
                                                            },
                                                            "suspended": {
                                                                "type": "integer"
                                                            },
                                                            "warning": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "servicePlans": {
                                                        "items": {
                                                            "properties": {
                                                                "appliesTo": {
                                                                    "type": "string"
                                                                },
                                                                "provisioningStatus": {
                                                                    "type": "string"
                                                                },
                                                                "servicePlanId": {
                                                                    "type": "string"
                                                                },
                                                                "servicePlanName": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "servicePlanId",
                                                                "servicePlanName",
                                                                "provisioningStatus",
                                                                "appliesTo"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "skuId": {
                                                        "type": "string"
                                                    },
                                                    "skuPartNumber": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "capabilityStatus",
                                                    "consumedUnits",
                                                    "id",
                                                    "skuId",
                                                    "skuPartNumber",
                                                    "appliesTo",
                                                    "prepaidUnits",
                                                    "servicePlans"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "client-id": {
                            "runAfter": {
                                "tenant-id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('client-id')}/value"
                            }
                        },
                        "client-secret": {
                            "runAfter": {
                                "client-id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('client-secret')}/value"
                            }
                        },
                        "tenant-id": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('tenant-id')}/value"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                                "connectionName": "[variables('KeyvaultConnectionName')]",
								"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                        "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                        "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]            
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('KeyvaultConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('KeyvaultConnectionName')]",
                "ParameterValues": {
                    "vaultName": "[parameters('keyvault-name')]"
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                }
            }
        },
                {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('Office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('Office365ConnectionName')]",
                "customParameterValues": {},
                 "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        }        
    ]
}