Azure App Registration Client Secret Notification/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "AppRegistrationClientSecretNotification",
            "type": "String"
        },
        "keyvault-name": {
            "type": "string",
            "metadata" : {
                "description" : "Name of the Key Vault that contains the App Registration Secret"
            }
        },
        "mail-from": {
            "type": "string",
            "metadata" : {
                "description" : "Mail address of the shared mailbox"
            }
        },
        "mail-to": {
            "type": "string",
            "metadata" : {
                "description" : "Mail address of the receiving mailbox"
            }
        }
    },
    "variables": {
        "KeyvaultConnectionName": "[concat('keyvault-', parameters('LogicAppName'))]",
        "Office365ConnectionName": "[concat('office365-', parameters('LogicAppName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
             "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Week",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each_appid": {
                            "foreach": "@body('Parse_JSON_Get_Azure_Applications')?['value']",
                            "actions": {
                                "For_each_passwordCredential": {
                                    "foreach": "@items('For_each_appid')?['passwordCredentials']",
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "Send_an_email_from_a_shared_mailbox_(V2)": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Body": "<p>One of the client secrets is going to expire from Azure App Registration; <br>\n@{variables('displayName')}<br>\n@{items('For_each_appid')?['displayName']}<br>\n<br>\n<br>\n<br>\nDetails:<br>\nSecret ID: @{items('For_each_passwordCredential')?['keyId']}<br>\nDisplay Name: @{items('For_each_passwordCredential')?['displayName']}<br>\nExpiration date: @{items('For_each_passwordCredential')?['endDateTime']}<br>\n<br>\nApp Registration location;<br>\nhttps://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Overview/appId/<br>\n@{variables('appId')}<br>\n@{items('For_each_appid')?['appId']}<br>\n<br>\nPlease take action as soon as possible.</p>",
                                                            "Importance": "High",
                                                            "MailboxAddress": "[parameters('mail-from')]",
                                                            "Subject": "Azure App Registration secret is going to expire!",
                                                            "To": "[parameters('mail-to')]"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/SharedMailbox/Mail"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "expression": {
                                                "and": [
                                                    {
                                                        "less": [
                                                            "@items('For_each_passwordCredential')?['endDateTime']",
                                                            "@addToTime(utcNow(),14,'day')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Set_variable_passwordCredential": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Set_variable_appid": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "appId",
                                        "value": "@items('For_each_appid')?['appId']"
                                    }
                                },
                                "Set_variable_displayName": {
                                    "runAfter": {
                                        "Set_variable_appid": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "displayName",
                                        "value": "@items('For_each_appid')?['displayName']"
                                    }
                                },
                                "Set_variable_passwordCredential": {
                                    "runAfter": {
                                        "Set_variable_displayName": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "passwordCredential",
                                        "value": "@items('For_each_appid')?['passwordCredentials']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_Get_Azure_Applications": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_Get_Azure_Applications": {
                            "runAfter": {
                                "Initialize_passwordCredential": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "@body('client-id')?['value']",
                                    "secret": "@body('client-secret')?['value']",
                                    "tenant": "@body('tenant-id')?['value']",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/applications?$select=id,appId,displayName,passwordCredentials"
                            }
                        },
                        "Initialize_appid": {
                            "runAfter": {
                                "client-secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "appId",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_displayName": {
                            "runAfter": {
                                "Initialize_appid": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "displayName",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_passwordCredential": {
                            "runAfter": {
                                "Initialize_displayName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "passwordCredential",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_Get_Azure_Applications": {
                            "runAfter": {
                                "HTTP_Get_Azure_Applications": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_Get_Azure_Applications')",
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "appId": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "passwordCredentials": {
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "appId",
                                                    "displayName",
                                                    "passwordCredentials"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "client-id": {
                            "runAfter": {
                                "tenant-id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('client-id')}/value"
                            }
                        },
                        "client-secret": {
                            "runAfter": {
                                "client-id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('client-secret')}/value"
                            }
                        },
                        "tenant-id": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('tenant-id')}/value"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                                "connectionName": "[variables('KeyvaultConnectionName')]",
								"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                        "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                        "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('KeyvaultConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('KeyvaultConnectionName')]",
                "ParameterValues": {
                    "vaultName": "[parameters('keyvault-name')]"
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                }
            }
        },
                {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('Office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('Office365ConnectionName')]",
                "customParameterValues": {},
                 "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        }
    ]
}